@{Layout = null;}
@model List<Competition_Blasts_Project.Models.Player>
<html>
<head>
    <title>People</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="~/Content/Style.css" rel="stylesheet" />
    @{
        string i = Session["ID"].ToString();
        int pid = int.Parse(i);
        string fname = Session["FName"].ToString();
        string lname = Session["LName"].ToString();
        string cover = Session["Cover"].ToString();
        string profile = Session["Profile"].ToString(); ;
    }

</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top" style="background-color: #ff5454;">
        <div id="header">
            <ul>
                <li>
                    @Html.ActionLink("Profile", "Profile", "Admin");
                </li>
                <li>
                    @Html.ActionLink("People", "People", "Admin");
                </li>
                <li>
                    @Html.ActionLink("Subject", "Subject", "Admin");
                    <ul>
                        <li>
                            @Html.ActionLink("Add Subject", "Subject", "Admin");
                        </li>
                        <li>
                            @Html.ActionLink("Add Questions", "Subject", "Admin");
                        </li>
                        <li>
                            @Html.ActionLink("Update Questions", "Subject", "Admin");
                        </li>
                    </ul>
                </li>
                <li style="width: 220px">
                    @Html.ActionLink(fname, "Profile", "Admin");
                    <ul style="width: 220px">
                        <li>
                            @Html.ActionLink("Setting", "Setting", "Admin");
                        </li>
                        <li>
                            @Html.ActionLink("Logout", "Logout", "Home");
                        </li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
    <div id="profile">
        <div id="profilepic">
            <img src="@Url.Content(profile)" class="cover">
            <h2 id="hh">@fname @lname</h2>
            <img src="@Url.Content(cover)" class="pic">
        </div>
    </div>
    <div id="mainbody">
        <table border="0" style="">
            @{
                int count = Model.Count;
                bool flag = false;
                if (count % 2 == 0)
                {
                    flag = true;
                }
                else
                {
                    count--;
                }
                for (int j = 0; j < count; j = j + 2)
                {
                    <tr>
                       
                            <td style="position: relative">
                                <img src="@Url.Content( Model[j].CoverImagePath)" class="coverOfPalyers">
                                <p style='position : absolute ; top : -5% ; left : 20% ; color : white ; font-size : 150% ;font-family : sans-serif;'>
                                    <b>@Model[j].FirstName  @Model[j].LastName</b>
                                </p>
                                <img src="@Url.Content(Model[j].ProfileImagePath)" class='pic' id="profileofPlayer">
                                <form action="~/Admin/Delete/@Model[j].PId" method="post">
                                    <button name='playButton_1' style='position: absolute; left: 115px; top : 80%'>Delete</button>
                                </form>
                            </td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                        

                       

                            <td style="position: relative">
                                <img src="@Url.Content( Model[j+1].CoverImagePath)" class="coverOfPalyers">
                                <p style='position : absolute ; top : -5% ; left : 20% ; color : white ; font-size : 150% ;font-family : sans-serif;'>
                                    <b>@Model[j + 1].FirstName  @Model[j + 1].LastName</b>
                                </p>
                                <img src="@Url.Content(Model[j+1].ProfileImagePath)" class='pic' id="profileofPlayer">
                                <form action="~/Admin/Delete/@Model[j+1].PId" method="post">
                                    <button name='playButton_1' style='position: absolute; left: 115px; top : 80%'>Delete</button>
                                </form>
                            </td>
                        
                    </tr>
                }

                if (flag == false)
                {
                   
                        <tr>
                            <td style="position: relative">
                                <img src="@Url.Content(Model[count].CoverImagePath)" class="coverOfPalyers">
                                <p style='position : absolute ; top : -5% ; left : 20% ; color : white ; font-size : 150% ;font-family : sans-serif;'>
                                    <b>@Model[count].FirstName  @Model[count].LastName</b>
                                </p>
                                <img src="@Url.Content(Model[count].ProfileImagePath)" class='pic' id="profileofPlayer">
                                <form action="~/Admin/Delete/@Model[count].PId" method="post">
                                    <button name='playButton_1' style='position: absolute; left: 115px; top : 80%'>Delete</button>
                                </form>
                            </td>
                        </tr>
                    
                }
            }
        </table>
    </div>
</body>
</html>
